In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import csv
import plotly.express as px

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from datetime import datetime
from sklearn.cluster import KMeans
import seaborn as sns

In [12]:
Earthquakes1 = pd.read_csv("earthquakes1.txt", delimiter = ';') 
  
# storing this dataframe in a csv file 
Earthquakes1.to_csv('earthquakes1.csv', index = None)

In [13]:
Earthquakes1.shape

(483270, 11)

In [14]:
Earthquakes1.head()

,XCoord,YCoord,mag,magType,place,latitude,longitude,kmDepth,depth,eventTime,eventType
0,"67,98700000","38,29000000","4,600000",m,"8 km ENE of Denov, Uzbekistan","38,290001","67,987000","45,700001","45,700001",2007-12-21 23:49:31,Earthquake
1,"88,18000000","42,39200000","4,100000",m,"102 km SW of Turpan, China","42,391998","88,180000","36,299999","36,299999",2007-11-18 11:35:20,Earthquake
2,"166,25200000","-10,98800000","4,700000",m,"57 km ESE of Lata, Solomon Islands","-10,988000","166,251999","183,300003","183,300003",2007-12-21 22:58:26,Earthquake
3,"29,67600000","38,96700000","4,000000",m,Western Turkey,"38,966999","29,676001","37,799999","37,799999",2007-11-18 10:48:28,Earthquake
4,"178,37000000","-38,82000000","4,800000",ml,"36 km ESE of Gisborne, New Zealand","-38,820000","178,369995","34,000000","34,000000",2007-12-21 22:35:11,Earthquake

In [15]:
#columns of dataframe
for col in Earthquakes1.columns:
    print(col)

XCoord
YCoord
mag
magType
place
latitude
longitude
kmDepth
depth
eventTime
eventType

In [16]:
# Remove three columns as index base
Earthquakes1.drop(Earthquakes1.columns[[0, 1, 2,3,4,5,6,7,8]], axis=1, inplace=True)

In [17]:
Earthquakes1.head()

             eventTime   eventType
0  2007-12-21 23:49:31  Earthquake
1  2007-11-18 11:35:20  Earthquake
2  2007-12-21 22:58:26  Earthquake
3  2007-11-18 10:48:28  Earthquake
4  2007-12-21 22:35:11  Earthquake

In [20]:
Earthquakes1.dtypes

eventTime    object
eventType    object
dtype: object

In [21]:
# overwriting data after changing format
Earthquakes1['eventTime']= pd.to_datetime(Earthquakes1['eventTime'])

In [22]:
Earthquakes1.dtypes

eventTime    datetime64[ns]
eventType            object
dtype: object

In [24]:
Earthquakes1.head()

            eventTime   eventType
0 2007-12-21 23:49:31  Earthquake
1 2007-11-18 11:35:20  Earthquake
2 2007-12-21 22:58:26  Earthquake
3 2007-11-18 10:48:28  Earthquake
4 2007-12-21 22:35:11  Earthquake

In [25]:
#removing the time component
from datetime import datetime
Earthquakes1['eventTime'] = Earthquakes1['eventTime'].apply(lambda x: x.date())

In [26]:
Earthquakes1.head()

    eventTime   eventType
0  2007-12-21  Earthquake
1  2007-11-18  Earthquake
2  2007-12-21  Earthquake
3  2007-11-18  Earthquake
4  2007-12-21  Earthquake